.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 64px);
    background: rgba(38, 48, 77, 0.95);
    z-index: 99999999;
}

.map-container {
    /*margin-top: 50px;*/
}